@import url('root.css');

.header {
    background-color: var(--main-bg);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: var(--pad4);
    z-index: 2;
}

.section {
    padding: var(--pad4);
}

.menu {
    background: transparent;
}

.close-menu::after {
    content: "\00D7";
    font-size: var(--main-fs);
}

.mobile-menu {
    position: fixed;
    background: var(--main-bg);
    transform: translateX(100%);
    transition: all .5s;
    height: 100vh;
    width: 100%;
    padding-top: var(--pad7);
    z-index: 1;
}

.mobile-menu.active {
    transform: translateX(0);
}

.footer {
    display: grid;
    gap: var(--pad6);
}

.footer-border {
    border-top: 2px solid var(--footer-border);
}
