@import url('../font/font.css');

:root {
    /* BACKGROUND */
    --main-bg: #FFF;
    --sub-bg: #000;
    --sub2-bg: #03110D;
    --emphasis-bg: #DCF8B1;

    /* TYPOGRAPHY */
    --main-clr: #000;
    --sub-clr: #FFF;
    --sub2-clr: #03110D;
    --subtext-clr: #393939;
    --emphasis-clr: #1AA584;
    --disabled-clr: #A0A0A0;

    --main-fs: 1.25rem;
    --sub1-fs: 1.125rem;
    --sub2-fs: 1rem;
    --sub3-fs: 0.875rem;
    --emphasis-fs: 2.25rem;
    --subtitle-fs: 2rem;
    --title-fs: 5rem;

    --fw1: 300;
    --fw2: 400;
    --fw3: 500;
    --fw4: 600;
    --fw5: 700;

    --line-height1: 1.5rem;

    /* BUTTONS */
    --btn-main-bg: #000;
    --btn-sub-bg: #FFF;
    --btn-emphasis-bg: #1AA584;
    --btn-emphasis-hover-bg: #48B79D;

    --btn-size1: .5em;
    --btn-size2: .75em;

    /* INPUTS */
    --select-bg: #F2F2F2;
    --select-hover-bg: #000;
    --input-size1: .75em;

    /* CAROUSEL */
    --btn-carousel-bg: #00000066;
    --btn-carousel-bg-highlight: #000000EE;
    --btn-carousel-clr: #FFFFFF66;
    --btn-carousel-clr-highlight: #FFFFFFEE;

    /* SPACING */
    --pad1: .25rem;
    --pad2: .5rem;
    --pad3: .75rem;
    --pad4: 1.5rem;
    --pad5: 2rem;
    --pad6: 3rem;
    --pad7: 4rem;
    --pad-carousel: 12.5rem;
    --pad-sides-desktop: 6rem;

    /* BORDER */
    --footer-border: #1C1C1C;
}

body,
textarea,
input {
    font-family: Urbane, sans-serif;
    font-style: normal;
    font-weight: 300;

    line-height: 1.25;
}

@media screen and (min-width: 50em) {
    :root {
        --emphasis-fs: 3rem;
        --title-fs: 5rem;
        --pad-sides-desktop: 8rem;
    }
}
