@import url('root.css');

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* BACKGROUND */
.main-bg {
    background-color: var(--main-bg);
}

.sub-bg {
    background-color: var(--sub-bg);
}

.emphasis-bg {
    background-color: var(--emphasis-bg);
}

.sub2-bg {
    background-color: var(--sub2-bg);
}

.sub3-bg {
    background-color: var(--sub3-bg);
}

.trans-bg {
    background: transparent;
}

/* TYPOGRAPHY */
.main-clr {
    color: var(--main-clr);
}

.sub-clr {
    color: var(--sub-clr);
}

.sub2-clr {
    color: var(--sub2-clr);
}

.subtext-clr {
    color: var(--subtext-clr);
}

.emphasis-clr {
    color: var(--emphasis-clr);
}

.disabled-clr {
    color: var(--disabled-clr);
}

.main-fs {
    font-size: var(--main-fs);
}

.sub1-fs {
    font-size: var(--sub1-fs);
}

.sub2-fs {
    font-size: var(--sub2-fs);
}

.sub3-fs {
    font-size: var(--sub3-fs);
}

.subtitle-fs {
    font-size: var(--subtitle-fs);
}

.title-fs {
    font-size: var(--title-fs);
}

.emphasis-fs {
    font-size: var(--emphasis-fs);
}

.fw-2 {
    font-weight: var(--fw2);
}

.fw-3 {
    font-weight: var(--fw3);
}

.fw-4 {
    font-weight: var(--fw4);
}

.fw-5 {
    font-weight: var(--fw5);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.line-height-1 {
    line-height: var(--line-height1);
}

/* BUTTONS */
.button {
    padding: var(--btn-size2) calc(var(--btn-size2) * 2);
    border: 2px solid;
    transition: all .5s;
    border-radius: 5px;
}

.xs-button {
    padding: var(--btn-size1);
}

.sm-button {
    padding: var(--btn-size2);
    border-radius: 5px;
}

.trans-button {
    color: var(--sub-clr);
    background: transparent;
}

.trans-button:hover,
.trans-button:focus {
    color: var(--main-clr);
    background: var(--main-bg);
    border-color: var(--main-bg);
}

.main-button {
    color: var(--main-clr);
    background: var(--main-bg);
}

.main-button:hover,
.main-button:focus {
    color: var(--sub-clr);
    background: var(--sub-bg);
    border-color: var(--sub-bg);
}

.sub-button {
    color: var(--sub-clr);
    background: var(--sub-bg);
}

.sub-button:hover,
.sub-button:focus {
    color: var(--main-clr);
    background: var(--main-bg);
}

.emphasis-button {
    color: var(--sub-clr);
    background: var(--btn-emphasis-bg);
    border-color: var(--btn-emphasis-bg);
}

.emphasis-button:hover,
.emphasis-button:focus {
    background: var(--btn-emphasis-hover-bg);
}

.disabled-button {
    color: var(--disabled-clr);
    background: var(--btn-sub-bg);
}

.button-filter {
    background-color: var(--sub-bg);
    color: var(--sub-clr);
    transition: all .5s;
}

.button-filter.active {
    background-color: var(--main-bg);
    color: var(--main-clr);
}

.round-button {
    border: 1px solid transparent;
    border-radius: 50rem;
    transition: all .5s;
}

.sending {
    background-color: var(--btn-emphasis-hover-bg);
}

/* INPUTS */
form,
form input {
    transition: all .5s;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--pad4);
    border-radius: 5px;
    padding: var(--pad4) var(--pad4);
}

input,
textarea {
    padding-top: var(--pad1);
    border: none;
    background: transparent;
}

input,
textarea {
    display: block;
    width: 100%;
}

input {
    max-height: 0;
}

select {
    display: none;
}

input:focus,
input:focus-visible {
    height: auto;
}

.input,
.input * {
    transition: all .5s;
}

.error {
    font-size: var(--sub3-fs);
    color: var(--input-fail-clr);
}

.input.fail {
    border-color: var(--input-fail-clr);
}

.input.fail input {
    color: var(--input-fail-clr);
}

.input.success {
    border-color: var(--input-success-clr);
}

.input.success input {
    color: var(--input-success-clr);
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    width: 100%;
    outline: none;
    display: block;
    border: none;
}

.input,
.select,
.dropdown-list .item {
    border: 2px solid;
    border-radius: 5px;
    color: var(--main-clr);
    background: transparent;
    padding: var(--pad3);
    display: block;
}

.select {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw3);
    width: 100%;
}

.select label[for] {
    display: none;
}

.dropdown-list {
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transform: translateY(100%);
    width: 100%;
    background: var(--main-bg);
    z-index: 1;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}

.dropdown-list .item {
    width: 100%;
    background-color: var(--select-bg);
    border-color: transparent;
    transition: all .5s;
}

.dropdown-list .item:not(:last-child) {
    margin-bottom: .25em;
}

.dropdown-list .item:hover,
.dropdown-list .item:focus {
    background-color: var(--sub-bg);
    color: var(--sub-clr);
}

/* SPACING */
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-3 {
    gap: var(--pad3);
}

.gap-5 {
    gap: var(--pad5);
}

.gap-7 {
    gap: var(--pad7);
}

.pad-0 {
    padding: 0;
}

.padt-1 {
    padding-top: var(--pad1);
}

.padb-1 {
    padding-bottom: var(--pad1);
}

.padr-1 {
    padding-right: var(--pad1);
}

.padl-1 {
    padding-left: var(--pad1);
}

.padt-2 {
    padding-top: var(--pad2);
}

.padb-2 {
    padding-bottom: var(--pad2);
}

.padr-2 {
    padding-right: var(--pad2);
}

.padl-2 {
    padding-left: var(--pad2);
}

.padt-3 {
    padding-top: var(--pad3);
}

.padb-3 {
    padding-bottom: var(--pad3);
}

.padr-3 {
    padding-right: var(--pad3);
}

.padl-3 {
    padding-left: var(--pad3);
}

.padt-4 {
    padding-top: var(--pad4);
}

.padb-4 {
    padding-bottom: var(--pad4);
}

.padr-4 {
    padding-right: var(--pad4);
}

.padl-4 {
    padding-left: var(--pad4);
}

.padt-5 {
    padding-top: var(--pad5);
}

.padb-5 {
    padding-bottom: var(--pad5);
}

.padr-5 {
    padding-right: var(--pad5);
}

.padl-5 {
    padding-left: var(--pad5);
}

.padt-7 {
    padding-top: var(--pad7);
}

.padb-7 {
    padding-bottom: var(--pad7);
}

.padr-7 {
    padding-right: var(--pad7);
}

.padl-7 {
    padding-left: var(--pad7);
}

.margt-3 {
    margin-top: var(--pad3);
}

.margb-3 {
    margin-bottom: var(--pad3);
}

.margr-3 {
    margin-right: var(--pad3);
}

.margb-5 {
    margin-bottom: var(--pad5);
}

.margb-7 {
    margin-bottom: var(--pad7);
}

.flex-1 * {
    flex: 1;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

@media screen and (max-width: 75em) {
    .lg-only {
        display: none;
    }
}

@media screen and (max-width: 62.5em) {
    .md-lg-only {
        display: none;
    }
}

@media screen and (min-width: 75em) {
    .sm-only {
        display: none;
    }
}

/* MODAL */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    max-width: 300px;
    border-radius: 5px;
}

.modal[open] {
    opacity: 1;
    z-index: 5;
}

@media screen and (min-width: 62.5em) {
    .modal {
        max-width: 350px;
    }
}
